html,
body {
    margin: 0px;
}

.top_div {
    background-color: black;
    height: 100vh;
}

.blue {
    color: #00ffff;
}

h4 {
    font-variant: small-caps;
}

.center {
    text-align: center;
}

.logo_pic {
    max-width: 20%;
}

.menu {
    bottom: 75px;
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
    text-align: center;
}

.sideButton{
    width: 240px;
}
.coolButton {
    color: #00ffff;
    background-color: black;
    border: 2px solid #00ffff;
    position: relative;
    padding: 20px 30px;
    height: 70px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: 4px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    
}

.coolButton:hover {
    box-shadow: inset 0 0 0 50px #00ffff;
    color: black;
}

@media screen and (max-width: 900px) {
    .coolButton {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}