html,
body {
    margin: 0px;
}

.top_div {
    background-color: black;
    height: 100vh;
    /* border-bottom: 10px solid #00ffff; */
    position: relative;
}

.top_div::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(4deg);

}

.blue {
    color: #00ffff;
}

h4 {
    font-variant: small-caps;
}

.center {
    text-align: center;
}

.logo_pic {
    max-width: 20%;
}

.menu {
    bottom: 75px;
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
    text-align: center;
}

.coolButton {
    color: #00ffff;
    background-color: black;
    border: 2px solid #00ffff;
    position: relative;
    padding: 20px 30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: 4px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}

.coolButton:hover {
    box-shadow: inset 0 0 0 50px #00ffff;
    color: black;
}

@media screen and (max-width: 900px) {
    .coolButton {
        float: left;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.column_icon {
    height: 10vh;

}

span{
    text-decoration: underline wavy #00ffff;
}