html,
body {
    margin: 0px;
}

.top_div {
    background-color: black;
    height: 100vh;
    position: relative;
    margin-bottom: 20vh;
}

.top_div::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(4deg);

}

.blue {
    color: #00ffff !important;
}

h4 {
    font-variant: small-caps;
}

.center {
    text-align: center;
}

.logo_pic {
    max-width: 20%;
}

.menu {
    bottom: 75px;
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
    text-align: center;
}

.coolButton {
    color: #00ffff;
    background-color: black;
    border: 2px solid #00ffff;
    position: relative;
    padding: 20px 30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: 4px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}

.coolButton:hover {
    box-shadow: inset 0 0 0 50px #00ffff;
    color: black !important;
}

@media screen and (max-width: 900px) {
    .coolButton {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.column_icon {
    height: 10vh;
}

span {
    text-shadow: 3px 3px white;
}

.big{
    font-size:2.5em;
}
a {
    text-decoration: none;
    color: black;
}

.underline {
    position: relative;
    text-shadow: 3px 3px white;
    white-space: nowrap;
}

.underline::before {
    z-index: 1;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 15px;
    background-color: #ffffff8f;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}


a:visited {
    color: black;
}

hr {
    margin: 0 auto;
    margin-top: 40px;
    width: 20%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.blueline{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #00ffff, rgba(0, 0, 0, 0));

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    width: 40%;
    display: inline-table;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this^ adds the "card" effect */
    padding: 16px;
    padding-top: 40px;
    min-height: 250px;
    text-align: center;
    background-color: #a0ffff;
}

@media screen and (max-width: 900px) {
    .column {
        display: block;
        width: 80%;
        margin-left: auto;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: auto;
        text-align: center;

    }
}

.project_link{
    color: #00ffff;
    text-shadow: none !important; /* to get rid of .underline white shadow */
}

.project_link:visited{
    color: #00ffff;
}

.no_show {
    /* There is a "-" somewhere I are hiding so things don't break - try to find it!! */
    color: #a0ffff;
}

.third_div{
    background-color: black;
    min-height: 100vh;
    position: relative;
    margin-top: 20vh;
}

.third_div::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -2;
    bottom: 0;
    transform-origin: right top;
    transform: skewY(4deg);
}

.third_div_bottom{
    background-color: black;
    min-height: 20vh;
    margin-bottom: 20vh;
    position: relative;
}
.third_div_bottom::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left top;
    transform: skewY(4deg);
}

.project {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: solid 3px #00ffff;

}

.project img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.project:hover img {
    transform: scale(1.1);
}

.contact_menu {
    display: block;
    width: 100%;
    text-align: center;
}

.contact_button{
    width: 33%;
    display: inline-block;
}

.social_button{
    display: inline-block;
    width: 15%;
    
}

#hidden{
    text-shadow: none !important;
}

.email:hover #hidden {
    transition-delay: .4s;
    display: none;
}

.email:hover:before {
    content: "shiramzacks@gmail.com";
}

.contact_section{
    height: 60vh;
}